%h1 Resend confirmation instructions

= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
  = devise_error_messages!
  %div.field
    = f.label(:email)
    %br
    = f.email_field(:email)
  %div.actions
    = f.submit("Resend confirmation instructions")
    %br
    = render "links"