%h1 Sign up

= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  %div.field
    = f.label(:name)
    %br
    = f.text_field(:name, :class => 'title')

  %div.field
    = f.label(:email)
    %br
    = f.email_field(:email)

  %div.field
    = f.label(:password)
    %br
    = f.password_field(:password)

  %div.field
    = f.label(:password_confirmation)
    %br
    = f.password_field(:password_confirmation)

  %div.actions
    = f.submit("Sign up")
    %br
    = render "links"