= form_for(@tournament) do |f|
  -if @tournament.errors.any?
    %ul.error
      - @tournament.errors.full_messages.each do |msg|
        %li= msg
  %div.field
    = f.label(:title)
    %br
    = f.text_field(:title, :class => 'title')
  %div.field
    = f.label(:description)
    %br
    = f.text_area(:description)
  %div.field
    = f.label(:signup_opens_at)
    %br
    = f.text_field(:signup_opens_at)
  %div.field
    = f.label(:signup_closes_at)
    %br
    = f.text_field(:signup_closes_at)
  %div.field
    = f.label(:min_participants)
    %br
    = f.text_field(:min_participants)
  %div.field
    = f.label(:max_participants)
    %br
    = f.text_field(:max_participants)
  %div.actions
    = f.submit