%section
  - if @participations.any?
    %ul
      - @participations.each do |participation|
        %li #{participation.user.name} signed up for #{link_to(participation.tournament.title, participation.tournament)} - #{time_ago_in_words(participation.updated_at)} ago
  - if @tournaments.any?
    - @tournaments.each do |tournament|
      %article
        %header
          %h1= link_to(tournament.title, tournament)
          %p= link_to('Sign up', tournament_signup_path(tournament))
        %div= raw(tournament.description)
  - else
    %p No tournaments found.
  %hr
  =link_to("New Tournament", new_tournament_path)