%section
  %article
  %header
    %h1= @tournament.title
    %p= link_to('Sign up', tournament_signup_path(@tournament))
  %div= raw(@tournament.description)
  %hr
  %div
    %div#treewrap
      %canvas#tree
    - if @tournament.matches.any?
      %ul
        - @tournament.matches.each do |match|
          %li= match.inspect
  %div
    - if @tournament.users.any?
      %ul
        - @tournament.users.each do |user|
          %li= user.name
    - else
      There are no participants
  %hr
  =link_to("&laquo;Back".html_safe, tournaments_path)
  |
  =link_to('Edit', edit_tournament_path(@tournament))