= form_for(@event) do |f|
  -if @event.errors.any?
    %ul.error
      - @event.errors.full_messages.each do |msg|
        %li= msg
  %div.field
    = f.label(:title)
    %br
    = f.text_field(:title, :class => 'title')
  %div.field
    = f.label(:body)
    %br
    = f.text_area(:body)
  %div.actions
    = f.submit