%section
  - if @events.any?
    - @events.each do |event|
      %article
        %header
          %h1= link_to(event.title, event)
        %div= raw(event.body)
  - else
    %p No events found.
  =link_to("New Event", new_event_path)