!!!
%html
  %head
    %title European E-sports
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %div.container
      - flash.each do |type, msg|
        %p{:class => type}= msg
      %div.span-20
        = yield
      %div.span-4.last
        - if user_signed_in?
          = link_to "Sign out", destroy_user_session_path, :method => :delete
        - else
          = link_to "Sign in", user_session_path
          or
          = link_to "Sign up", user_registration_path